#navBarUl{
    display: inline-flex;

    margin-left: 2rem;
    
    align-self: center;
}
#navBarDiv{
    position: sticky;
    top: 0;
    z-index: 100;
    align-items: center;
    
}
#navBarUl a{
    margin: 5px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-style: bold;
    position: sticky;

}
*br{
    color: brown;
}
#navBarUl a:hover{
 text-decoration: underline yellow 2px;
    animation-duration: 1ms;
}
#profilePicFB{
    height: 300px;
    width: 100%;
    
}
#nameCard{
    text-align: center;
}
#divIntroduction{
    font-family: "Proxima Nova";
    margin-left: 50px;
    margin-top: 100px;
    word-spacing: 5px;
}
#divIntroduction p{
    font-size: 2em;
}
#p1{
    font-family: sans-serif;
    font-size: 1rem;
}
#btnTourPage{
    border-radius: 50px;
    background:linear-gradient(pink, red);
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-style: none;
}
#btnTourPage:hover{
    border-radius: 50px;
    background:linear-gradient(pink, rgb(38, 0, 255));
    font-size: 25px;
    color: rgb(255, 255, 255);
    border-style: none;
  transition: ease-out 0.23s;
}
#btnTourPage:active{
    background-color:blue;
}
#btnTourPage{
    border-style: linear-gradient(red blue purple);
}
#ProfilepicFb{
    height: 300px;
    width: 300px;
    border-radius: 50%;
   
}
#div1{
    border: bottom 8px grey;
    margin-bottom: 75px;
}
#divfooter{
    align-items: flex-start;

    justify-items: flex-start;
}
#ImageProfile{
    height: 100%;
}
#profilepic{
    border-radius: 50%;
    height: 300px;
    
    animation: appear 5s linear;
    
}
#divDescription{
    position: relative;
}
#CSSLogo{
   color: rgb(241, 90, 3);
}
#bootstrapLogo{
    color: purple;
}
#worksSample{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
}
#profilepic{
    background-image: src("profilepic.jpg");
}
#newImage{
    height:300px;
    width:500px;
    border-radius: 25px;
}
#newImage1{
    height:300px;
    width:500px;
   
}

.horizontal_line{
    color:orange;
   
}
#ICCTlogo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index: 1;
}
#ProfilepicFb1{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    z-index: 2;
}
#divMenus{
    margin-top: 50px;
    height: auto;
}
#menu2, #menu3{
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    text-align: center;
    background-color: rgb(7, 7, 7);
    border-color: grey;
    border-radius: 25px;
}
#menu1{
    flex:1;
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    text-align: center;
     background-color: rgb(0, 0, 0);
    border-color: grey;
    border-radius: 25px;
    opacity: 1;
}
#technologiesUsed{
    border-style: groove;
    padding: 10px;border-radius: 10px;
}
#techUsed{
    text-decoration: underline orange;
}
#techList{
    list-style-type: square;
margin-left:0;
font-size: 15px;}